/* Colour in the action cell. 
   .text td prefix is just for extra specificity to override IE6/7 table styles */
.action { border-bottom: 2px solid white; }
.text td.noaction { background: #a7cba9; color: #000; }
.text td.updatelater { background: #ffab7f; color: #000; }
.text td.grittingandsnowploughs, .text td.gritting { background: #b21313; color: #fff; }

/* Add extra padding to final cell to pull it away from coloured box */
.text .actiontime { padding-left: 10px; }
    
/* Reset bottom line of table to only appear on odd rows, since we know there's no rowspan */
body .text table:nth-child(odd), body .text table:nth-child(even) { border-bottom: none; }
.text tr:nth-child(odd):last-child { border-bottom: 2px solid #ececec; } 

/* Show table at correct size in edit mode */
.cms-edit table.gritting { font-size: 1em; }

/* More "earlier decisions" link under action to make it more visible. */
.earlier { text-align: right; }