<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="Escc.Web.Metadata">
      <section name="EgmsWebMetadata" type="Escc.Web.Metadata.EgmsWebMetadataSectionHandler, Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="GrittingDecisionReader" connectionString="" />
  </connectionStrings>
  
  <system.web>
        <compilation targetFramework="4.6.1" />
        <pages masterPageFile="~/masterpages/mobile.master">
            <controls>
              <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms"/>
              <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata"/>
              <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
              <add tagPrefix="EastSussexGovUK" tagName="Share" src="~/masterpages/controls/share.ascx"/>
              <add tagPrefix="EastSussexGovUK" tagName="Related" src="~/masterpages/controls/related.ascx"/>
              <add tagPrefix="EastSussexGovUK" tagName="TwitterSearch" src="~/masterpages/controls/twittersearch.ascx"/>
              <add tagPrefix="NavigationControls" namespace="EsccWebTeam.NavigationControls" assembly="EsccWebTeam.NavigationControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
            </controls>
        </pages>
    </system.web>

  <system.webServer>
    <modules>
      <add name="MasterPageModule" type="EsccWebTeam.EastSussexGovUK.MasterPages.MasterPageModule, EsccWebTeam.EastSussexGovUK" />
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>

  <!-- Enable this if you are behind a proxy 
  <Escc.Net>
    <Proxy>
      <add key="Server" value="" />
      <add key="User" value="" />
      <add key="Password" value="" />
    </Proxy>
  </Escc.Net> -->

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="DesktopMasterPage" value="~/masterpages/desktop.master" />
      <add key="MobileMasterPage" value="~/masterpages/mobile.master" />
      <add key="PlainMasterPage" value="~/masterpages/plain.master" />
      <add key="MasterPageParameterName" value="template" />
    </GeneralSettings>
    <BreadcrumbTrail>
      <add key="Home" value="/" />
      <add key="Roads and transport" value="https://new.eastsussex.gov.uk/roadsandtransport/" />
      <add key="Roads and roadworks" value="https://new.eastsussex.gov.uk/roadsandtransport/roads/" />
      <add key="Road and footpath maintenance" value="https://new.eastsussex.gov.uk/roadsandtransport/roads/maintenance/" />
      <add key="Gritting roads and pavements" value="https://new.eastsussex.gov.uk/roadsandtransport/roads/maintenance/gritting-roads-and-pavements/" />
    </BreadcrumbTrail>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}" />
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>

  <Escc.Web.Metadata>
    <EgmsWebMetadata creator="Web Team" errorMode="On" titlePattern="{0} &amp;#8211; East Sussex County Council" />
  </Escc.Web.Metadata>

  <Escc.ClientDependencyFramework>
    <CssFiles>
      <add key="Gritting" value="/css/gritting.css" />
    </CssFiles>
    <ScriptFiles>

    </ScriptFiles>
    <MediaQueries>
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />
    </MediaQueries>
  </Escc.ClientDependencyFramework>


</configuration>
